@font-face {
    font-family: DroidSans;
    src: url(http://istinomer.rs/static/css/fonts/DroidSans.ttf);
}
@font-face {
    font-family: DinPro;
    src: url(http://istinomer.rs/static/css/fonts/DINPro-Cond.otf);
}
@font-face {
    font-family: DinPro;
    src: url(http://istinomer.rs/static/css/fonts/DINPro-CondMedium.otf);
    font-weight: 500;
}

body {
	margin: 0;
	padding: 0;
	font-family: "DroidSans", sans-serif;
}
body, h1, h2 {
	font-size: 13px;
}
h1, h2 {
	margin: 0;
}
header {
	margin-top: 20px;
}
label {
	font-weight: normal;
}

.main-background {
	background: #09223e;
}
.main-top {
	padding-bottom: 20px;
}

.logo {
	margin-bottom: 20px;
}
.navbar {
	margin-bottom: 0px;
	border-radius: 0px;
}

/*CAROUSEL*/
.carousel {
	max-height: 350px;
}
.carousel .item {
	max-height: 350px;
	overflow: hidden;
}
.carousel-indicators {
	bottom: 0px;
}
@media screen and (max-width: 768px) {
	.carousel-wrap {
		padding-left: 0px;
		padding-right: 0px;
	}
}

/*NAVIGATION*/
.main-navigation {
	margin-top: -20px;
}
.navbar {
	min-height: auto;
}
.navbar-default {
	background: #fff;
}
.navbar-collapse {
	padding-left: 0px;
	padding-right: 0px;
	box-shadow: 1px 1px 1px #ccc;
}
.navbar-nav {
	margin: 0;
}
.navbar-nav li {
	box-shadow: 1px 1px 1px #ccc;
}
.navbar-collapse ul:last-child li {
	box-shadow: 1px 0px 1px #ccc;
}
.nav > li > a {
	padding: 8px 15px;
}
.navbar-default .navbar-nav > li > a:hover {
	background: #eee;
}

@media screen and (max-width: 768px) {
	.navbar-nav li {
		box-shadow: 0 0 0px;
		border-bottom: 1px solid #ddd;
	}
	.navbar-collapse {
		box-shadow: 0 0 0px;
	}
	.main-navigation {
		padding-left: 0px;
		padding-right: 0px;
	}
}

/*MAIN CONTENT*/
.main-content {
	margin-top: 20px;
	padding-bottom: 40px;
}
.main-content h1 {
	text-transform: uppercase;
	color: #444;
    font-size: 20px;
    font-family: 'DinPro';
    font-weight: 500;
    margin-bottom: 15px;
}
.wrap-content {
	background: #fff;
	border: 1px solid #ddd;
	margin-bottom: 15px;
	height: 300px;
	border-right: 0px;
}
.main-page .col-xs-6 {
	padding-left: 0px;
	padding-right: 0px;
}
.main-page .col-xs-6:last-child .wrap-content {
	border-right: 1px solid #ddd;
}
@media screen and (max-width: 992px) {
	.main-page .col-xs-6:nth-child(2) .wrap-content {
		border-right: 1px solid #ddd;
	}
}
@media screen and (max-width: 500px) {
	.main-page .col-xs-6, .main-content .stranka-akteri .col-xs-6 {
		width: 100%;
	}
	.wrap-content {
		border-right: 1px solid #ddd;
	}
}

/*GLASOMER*/
.question-category {
	/*padding: 20px;*/
	background: #fff;
	box-shadow: 0px 0px 2px #ccc;
	background: linear-gradient(to bottom, #f5f5f5, #fff);
}
.glasomer-pitanja h3 {
	font-size: 14px;
	color: #003e7e;
	margin: 0px;
	margin-bottom: 10px;
	line-height: 20px;
}
/*.glasomer-pitanja .question:first-child h3 {
	margin-top: 0px;
}*/
.glasomer-pitanja input {
	margin: 0;
	margin-right: 7px;
}
.glasomer-pitanja label {
	margin-right: 15px;
}
.question {
	padding: 20px;
    padding-bottom: 15px;
    position: relative;
    overflow: hidden;
    background: url(../images/bg_list_glow.svg) 50% 0 no-repeat;
}
.question:first-child {
	background: none;
}

/*KOALICIJE / STRANKE*/
.stranka-wrap {
	position: relative;
	overflow: hidden;
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
}
.stranka-wrap h2 {
	font-weight: bold;
	margin-bottom: 10px;
}
.stranka-wrap p {
	color: #333 !important;
}
.stranka-wrap table {
	margin-bottom: 20px;
}
.stranka-wrap table tr {
	vertical-align: text-top;
}
.stranka-wrap td:first-child {
	padding-right: 20px;
}
.stranka-wrap td:last-child {
	font-weight: 700;
}
.stranka-logo {
	margin: 0 auto;
	display: block;
}
.stranka-akteri {
	margin-top: 20px;
}
.stranka-akteri .pic-wrapper {
	padding-left: 0px;
	padding-right: 0px;
}
.stranka-akteri h2 {
	margin-bottom: 10px;
	font-size: 15px;
}
.stranka-prethodni-rezultati h2 {
	text-transform: uppercase;
	padding-top: 20px;
	margin-bottom: 10px;
	font-weight: 500;
	font-family: "DinPro";
	font-size: 20px;
}
@media screen and (max-width: 500px) {
	.stranka-akteri h2 {
		margin-top: 20px;
	}
	.stranka-akter-info.col-xs-6 {
		padding-left: 0px;
		padding-right: 0px;
	}
}

/*FOOTER*/
footer {
	padding-top: 20px;
	padding-bottom: 40px;
}
footer.sticky-footer {
    position: fixed;
    bottom:0;
    left: 0;
    right:0;
}
.copyright {
	float: left;
}
.copyright a {
	color: #fff;
}
.copyright a:hover {
	text-decoration: none;
	border-bottom: 1px solid #ccc;
}
.newsletter {
	float: right;
}
.newsletter p {
	color: #fff;
}
.newsletter input, .newsletter button {
	float: left;
	padding: 4px 5px;
	border: transparent;
	border-bottom: 3px solid #ccc;
}
.newsletter button {
	background: #fff;
	border-left: 1px solid #ccc;
	padding-left: 10px;
	padding-right: 10px;
}
.newsletter button:hover {
	background: #0b445f;
	color: #fff;
	border-bottom: 3px solid #08112d;
}
@media screen and (max-width: 768px) {
	.copyright, .newsletter {
		float: none;
	}
	.copyright {
		text-align: center;
	}
	.newsletter {
		margin: 0 auto;
	    position: relative;
	    overflow: hidden;
	    display: table;
	    text-align: center;
	}
}

/*BOOTSTRAP EDITS*/
.container-fluid {
	padding-left: 0px;
	padding-right: 0px;
}
.container > .navbar-header, .container-fluid > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-collapse {
	margin-left: 0px;
	margin-right: 0px;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background: #eee;
}
.navbar-default .navbar-toggle .icon-bar {
	background-color: #09223e;
}
.navbar-toggle {
	border-radius: 0px;
	padding: 7px 5px;
}
input::-webkit-input-placeholder {
   color: #111;
}
input:-moz-placeholder {
   color: #111;  
}
input::-moz-placeholder {
   color: #111;  
}
input:-ms-input-placeholder {  
   color: #111;  
}